<%- include('../partials/admin/header.ejs') %>

<div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

    <div>
        <a class="btn btn-secondary ml-3 mt-3" href="/admin/yearlysales/download">Download</a>
        <button class="btn btn-success ml-3 mt-3" onclick="printPage()">Print</button>
    </div>
    <div></div>
    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Total Order</th>
                    <th scope="col"></th>
                    <th scope="col">Total Revenue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= yearlyorders.length %></td>
                    <td></td>
                    <td><%= totalYearlyBill %></td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">ORDER DATE</th>
                    <!-- <th scope="col">DISCOUNT</th> -->
                    <th scope="col">TOTAL BILL</th>
                </tr>
            </thead>
            <tbody>
                <% if (yearlyorders) { %>
                    <% yearlyorders.forEach(order => { %>
                        <tr>
                            <td><%= order.user %></td>
                            <td><%= order.date.toISOString().substring(0,10) %></td>
                            <!-- <td><%= order.discount %></td> -->
                            <td><%= order.totalAmount %></td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<script>
    function printPage() {
        window.print();
    }
</script>
<nav aria-label="navigation">
    <ul class="pagination justify-content-end mt-50">
        <% if (currentPage > 1) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage - 1 %>"
                    style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; 
                    background-color:#563f03; color: #fff; text-align: center; margin: 5px; border-radius: 5px; 
                    cursor: pointer; text-decoration: none;">
                    Prev
                </a>
            </li>
        <% } %>

        <% for (let j = 1; j <= totalPages; j++) { %>
            <li class="page-item <% if (j === currentPage) { %>active<% } %>">
                <a class="page-link" href="?page=<%= j %>"
                    style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; 
                    background-color:#563f03; color: #fff; text-align: center; margin: 5px; border-radius: 5px;
                     cursor: pointer; text-decoration: none;">
                    <%= j %>
                </a>
            </li>
        <% } %>

        <% if (currentPage < totalPages) { %>
            <li class="page-item">
                <a class="page-link" href="?page=<%= currentPage + 1 %>"
                    style="display: flex; align-items: center; justify-content: center; width: 40px; height: 40px; 
                    background-color:#563f03; color: #fff; text-align: center; margin: 5px; border-radius: 5px; 
                    cursor: pointer; text-decoration: none;">
                    Next
                </a>
            </li>
        <% } %>
    </ul>
</nav>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/chart/chart.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>
<script src="lib/tempusdominus/js/moment.min.js"></script>
<script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
<script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
<script src="/admin/js/main.js"></script>

